* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(54, 52, 52);
  color: white;
  font-family: sans-serif;
}
header {
  background-color: rgb(54, 52, 52);
  color: white;
  text-align: center;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
